<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title></title>
</head>

<body>
    <!--The content below is only a placeholder and can be replaced.-->

    <link rel="stylesheet" href="/common/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">

    <%- include("../common/header.ejs")%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <%-include('../common/sidebar.ejs')%>
                </div>
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li class="active">商品管理
                        </li>
                        <li class="active">商品列表
                        </li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            搜索
                        </div>
                        <div class="panel-body">
                            <form role="form" action="/admin/productsearch" class="form-inline">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" name="title" class="form-control" id="name" placeholder="请输入名称">
                                </div>
                                <div class="form-group">
                                    <label for="name">最小价格</label>
                                    <input type="text" value="" name="price1" class="form-control" id="name" placeholder="最小价格">
                                </div>
                                <div class="form-group">
                                    <label for="name">最大价格</label>
                                    <input type="text" name="price2" value="" class="form-control" id="name" placeholder="最大价格">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">开始搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!--列表展示-->
                    <div class="table-responsive">
                        <table class="table table-striped" style="table-layout: fixed;">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>图标</th>
                                    <th>名称</th>
                                    <th>一级</th>
                                    <th>二级</th>
                                    <th>价格</th>
                                    <th>邮费</th>
                                    <th width="500px">描述</th>
                                    <th class="text-center" width="130px">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(let i=0;i<productlists.length;i++){%>
                                    <tr>
                                        <td>
                                            <%=i+1%>
                                        </td>
                                        <td>
                                            <img style="width: 60px;" src="<%=productlists[i].pic%>" alt="">
                                        </td>
                                        <td>
                                            <%=productlists[i].title%>
                                        </td>
                                        <td>
                                            <%=productlists[i].cate_id%>
                                        </td>
                                        <td>
                                            <%=productlists[i].goods_id%>
                                        </td>
                                        <td>
                                            <%=productlists[i].price==0?'非卖品':productlists[i].price+'元'%>
                                        </td>
                                        <td>
                                            <%=productlists[i].fee==0?'包邮':productlists[i].fee+'元'%>
                                        </td>
                                        <td style="word-wrap: break-word;">
                                            <%=productlists[i].description%>
                                        </td>
                                        <td class="text-center">
                                            <a href="/admin/productedit?id=<%=productlists[i]._id%>" class="btn btn-primary">修改</a>
                                            <a href="/admin/productdelete?id=<%=productlists[i]._id%>" class="btn btn-danger">删除</a>
                                        </td>
                                    </tr>
                                    <%}%>
                            </tbody>
                        </table>
                        <div>
                            <ul class="pagination">
                                <li><a href="">总共<span><%=total%></span>条数据</a></li>
                                <li><a href="/admin/productsearch?page=1&price1=<%=price1%>&price2=<%=price2%>&title=<%=title%>">首页</a></li>
                                <li class="<%=page==1?'disabled':''%>"><a href="/admin/productsearch?page=<%=page-1%>&price1=<%=price1%>&price2=<%=price2%>&title=<%=title%>">上一页</a>
                                </li>

                                <%for(var i=1;i<=totalPage;i++){%>
                                    <li class="<%=page==i?'active':''%>">
                                        <a href="/admin/productsearch?page=<%=i%>&price1=<%=price1%>&price2=<%=price2%>&title=<%=title%>">
                                            <%=i%>
                                        </a>
                                    </li>
                                    <%}%>
                                        <li class="<%=page==totalPage?'disabled':''%>"><a href="/admin/productsearch?price1=<%=price1%>&price2=<%=price2%>&title=<%=title%>&page=<%=page<totalPage?page+1:totalPage%>">下一页</a></li>
                                        <li><a href="/admin/productsearch?page=<%=totalPage%>&price1=<%=price1%>&price2=<%=price2%>&title=<%=title%>">尾页</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</body>

</html>