<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/common/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>

<body>
    <!-- 引入头部内容 -->
    <%- include('./common/header.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <!-- 引入侧边栏 -->
                    <%- include('./common/sidebar.ejs')%>
                </div>
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li class="active">商品管理
                        </li>
                        <li class="active">商品列表
                        </li>
                    </ol>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            搜索
                        </div>
                        <div class="panel-body">
                            <form role="form" class="form-inline">
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" id="name" placeholder="请输入名称">
                                </div>

                                <div class="form-group">
                                    <button type="submit" class="btn btn-default">开始搜索</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <!-- 列表展示-->
                    <div class="table-responsive">
                        <table class="table table-striped ">
                            <thead>
                                <tr>
                                    <th>编号</th>
                                    <th>姓名</th>
                                    <th>年龄</th>
                                    <th>性别</th>
                                    <th>地址</th>
                                    <th class="text-center">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i<userlist.length;i++){%>
                                    <tr>
                                        <td>
                                            <%=i+1%>
                                        </td>
                                        <td>
                                            <%=userlist[i].username%>
                                        </td>
                                        <td>
                                            <%=userlist[i].age%>
                                        </td>
                                        <td>
                                            <%=userlist[i].sex%>
                                        </td>
                                        <td>
                                            <%=userlist[i].address%>
                                        </td>
                                        <td class="text-center">
                                            <button type="button" class="btn btn-primary">修改</button>
                                            <button type="button" class="btn btn-danger">删除</button>
                                        </td>
                                    </tr>
                                    <%}%>

                            </tbody>
                        </table>
                        <!-- 分页的数据 -->
                        <ul class="pagination">
                            <li><a href="">共<span><%=total%></span>条数据</a></li>
                            <li>
                                <a href="/admin/userlist?page=1">首页</a>
                            </li>
                            <li>
                                <a href="/admin/userlist?page=<%=page-1%>">上一页</a></li>
                            <%for(var i=1;i<=totalPage;i++){%>
                                <li>
                                    <a href="/admin/userlist?page=<%=i%>">
                                        <%=i%>
                                    </a>
                                </li>
                                <%}%>
                                    <li><a href="/admin/userlist?page=<%=page=page<totalPage?page+1:totalPage%>">下一页</a></li>
                                    <li><a href=" /admin/userlist?page=<%=totalPage%>">尾页</a></li>
                        </ul>


                    </div>

                </div>
            </div>
        </div>

</body>

</html>