<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="/common/css/bootstrap.css">
    <link rel="stylesheet" href="/css/basic.css">
</head>

<body>
    <%- include('./common/header.ejs')%>
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-2">
                    <!-- 引入侧边栏 -->
                    <%- include('./common/sidebar.ejs')%>
                </div>
                <div class="col-sm-10">
                    <ol class="breadcrumb">
                        <li class="active">用户管理
                        </li>
                        <li class="active">用户列表
                        </li>
                    </ol>
                    <div class="panel panel-default">

                        <div class="panel-heading">
                            修改用户
                        </div>
                        <div class="panel-body">
                            <div class="table-responsive input-form">
                                <form action="/admin/doedituser/<%=editData._id%>" method="post">
                                    <ul>
                                        <li> 用户姓名: <input type="text" name="username" value="<%=editData.username%>" /></li>
                                        <!-- <li> 用户密码: <input type="password" name="password" value="<%=editData.password%>" /></li> -->
                                        <li> 用户性别: <input type="text" name="sex" value="<%=editData.sex%>" /></li>
                                        <li> 用户年龄: <input type="text" name="age" value="<%=editData.age%>" /></li>
                                        <li>
                                            居住地址:
                                            <textarea name="address" id="" cols="60" rows="8"><%=editData.address%></textarea>
                                        </li>
                                        <li>
                                            <input type="hidden" name="userId" value="<%=editData._id%>">
                                        </li>
                                        <li>
                                            <br />
                                            <input type="submit" class="btn btn-default" value="修改用户">
                                        </li>

                                    </ul>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>

</body>

</html>